user_uuid="d10c2c92-a017-4277-a7a1-1b279e07372e" 
bucket_name="nxcpwr18cl0a3bvo5rcbepixyjw7797f"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"
content_version=1